<h1>Ask your coach!</h1>
<p>It's a great coach!</p>
<form action="http://localhost:3000/questions/answer">
  <div class="form-inline">
    <input class="input-form" type="text" name="question" label="Schieß los!">
    <input class="button" type="submit" value="Ask">
  </div>
</form>

